<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwin.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.iwin.entity.SysRole">
        <id column="ROLE_ID" property="roleId" />
        <result column="ROLE_NAME" property="roleName" />
        <result column="ROLE_KEY" property="roleKey" />
        <result column="STATUS" property="status" />
        <result column="DEL_FLAG" property="delFlag" />
        <result column="OWNER_ID" property="ownerId" />
        <result column="CREATE_ID" property="createId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_ID" property="updateId" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="REMARK" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ROLE_ID, ROLE_NAME, ROLE_KEY, STATUS, DEL_FLAG, OWNER_ID, CREATE_ID, CREATE_TIME, UPDATE_ID, UPDATE_TIME, REMARK
    </sql>

</mapper>
