<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwin.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.iwin.entity.SysUser">
        <id column="USER_ID" property="userId" />
        <result column="DEPT_ID" property="deptId" />
        <result column="LOGIN_NAME" property="loginName" />
        <result column="USER_NAME" property="userName" />
        <result column="USER_TYPE" property="userType" />
        <result column="ADMIN_FLAG" property="adminFlag" />
        <result column="ID_NO" property="idNo" />
        <result column="ID_TYPE" property="idType" />
        <result column="EMAIL" property="email" />
        <result column="PHONE_NUMBER" property="phoneNumber" />
        <result column="PASSWORD" property="password" />
        <result column="STATUS" property="status" />
        <result column="LOGIN_IP" property="loginIp" />
        <result column="LOGIN_DATE" property="loginDate" />
        <result column="CREATE_ID" property="createId" />
        <result column="OWNER_ID" property="ownerId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_ID" property="updateId" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="REMARK" property="remark" />
        <result column="DEL_FLAG" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ID, DEPT_ID, LOGIN_NAME, USER_NAME, USER_TYPE, ADMIN_FLAG, ID_NO, ID_TYPE, EMAIL, PHONE_NUMBER, PASSWORD, STATUS, LOGIN_IP, LOGIN_DATE, CREATE_ID, OWNER_ID, CREATE_TIME, UPDATE_ID, UPDATE_TIME, REMARK, DEL_FLAG
    </sql>

    <select id="selectPageUser"  resultType="com.iwin.entity.vo.UserVO">
                select
                    u.login_name loginName,
                    u.user_name userName,
                    u.phone_number phoneNumber,
                    d.dept_name deptName,
                    (case u.status when 0 then '有效' else '无效'  end ) status,
                    (case u.user_type
                         when '00' then '超级管理员'
                         when '01' then '一级管理员'
                         when '02' then '二级管理员'
                         when '03' then '普通用户'
                         when '04' then '临时用户'
                        end ) userType,
                   u.user_type isOa,
                   d.dept_id parentId
                from sys_user u
                left join sys_dept d
                on u.dept_id = d.dept_id
        <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
              <if test="userPageVO.loginName != null and userPageVO.loginName != '' ">
                  and lower(u.login_name) like #{userPageVO.loginName}
              </if>
            <if test="userPageVO.userName != null and userPageVO.userName != '' ">
                and u.user_name = #{userPageVO.userName}
            </if>
            <if test="userPageVO.phoneNumber != null and userPageVO.phoneNumber != '' ">
                and u.phone_number = #{userPageVO.phoneNumber}
            </if>
            <if test="userPageVO.deptName != null and userPageVO.deptName != '' ">
                and d.dept_name = #{userPageVO.deptName}
            </if>
            <if test="userPageVO.status != null and userPageVO.status != '' ">
                and u.status = #{userPageVO.status}
            </if>
        </trim>
        order by u.create_time desc
    </select>

</mapper>
