<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwin.mapper.SysOperLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.iwin.entity.SysOperLog">
        <id column="OPER_ID" property="operId" />
        <result column="TITLE" property="title" />
        <result column="BUSINESS_TYPE" property="businessType" />
        <result column="METHOD" property="method" />
        <result column="OPERATOR_TYPE" property="operatorType" />
        <result column="OPER_NAME" property="operName" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="OPER_URL" property="operUrl" />
        <result column="OPER_IP" property="operIp" />
        <result column="OPER_LOCATION" property="operLocation" />
        <result column="OPER_PARAM" property="operParam" />
        <result column="STATUS" property="status" />
        <result column="ERROR_MSG" property="errorMsg" />
        <result column="OPER_TIME" property="operTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        OPER_ID, TITLE, BUSINESS_TYPE, METHOD, OPERATOR_TYPE, OPER_NAME, DEPT_NAME, OPER_URL, OPER_IP, OPER_LOCATION, OPER_PARAM, STATUS, ERROR_MSG, OPER_TIME
    </sql>

</mapper>
